<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventApp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">EventApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div style="justify-content:space-between" class="collapse navbar-collapse" id="navbarSupportedContent">

          <div></div>
          <div style="">
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
          </div>

          <div style="">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Events</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#">My Events</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link active" href="#">Logout</a>
                  </li>
              </ul>
          </div>

      </div>
    </nav>

    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center"></h2>
            </div>
            <div class="row" style=" justify-content:center">

                <div class=" item">
                    <div  class="card img-fluid" style="width: 18rem;">
                      <img src="static/img/desk.jpg" class="card-img-top" alt="static/img/desk.jpg">
                        <div>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name Surname: Şamil Akpınar</li>
                      </ul>
                       <ul class="list-group list-group-flush">
                        <li class="list-group-item">Email: samil@gmail.com</li>
                      </ul>
                        <div class="card-body">
                         <button style="border:none; background-color:white; color:blue" data-toggle="modal" data-target="#exampleModal">Edit</button>

                        <a style="position: absolute; right:40px; color:red" href="#" class="card-link">Delete Account</a>
                      </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Name Surname</label>
                            <input type="text" class="form-control" id="recipient-name">
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">Email</label>
                            <textarea class="form-control" id="message-text"></textarea>
                          </div>
                            <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Password</label>
                            <input type="text" class="form-control" id="recipient-category">
                          </div>
                            <label class="form-label" for="customFile">Image</label>
                            <input type="file" class="form-control" id="customFile" />
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Add Event</button>
                      </div>
                    </div>
                  </div>
                </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>